name: Build Sail Backend

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgmp-dev z3 cvc4 opam pkg-config zlib1g-dev

      - name: Restore opam cache
        id: cache-opam-restore
        uses: actions/cache@v3
        with:
          path: ~/.opam
          key: ${{ runner.os }}-opam-${{ hashFiles('**/dune-project') }}
          restore-keys: |
            ${{ runner.os }}-opam-
              
      - name: Setup opam
        if: steps.cache-opam-restore.outputs.cache-hit != 'true'
        run: |
          opam init --yes --no-setup --shell=sh --compiler=5.1.0

      - name: Install dependencies
        if: steps.cache-opam-restore.outputs.cache-hit != 'true'
        run: |
          eval $(opam env)
          opam update -y
          opam pin -y add sail 0.18
          opam install . --deps-only -y
          opam install ounit2

      - name: Update opam cache
        if: steps.cache-opam-restore.outputs.cache-hit != 'true'
        uses: actions/cache@v3
        with:
          path: ~/.opam
          key: ${{ runner.os }}-opam-${{ hashFiles('**/dune-project') }}
          
      - name: Build project
        run: |
          eval $(opam env)
          opam exec -- dune build
